/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 *= require_tree .
 */

body#app{
  background-color: #DBDBDB;
}

.func{
	border: 3px solid #c4c4c4;
	border-color:  #fff #c4c4c4 #c4c4c4 #fff ;
	background-color: #fff;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
  box-shadow:3px 3px 15px #C4C4C4;
}

.login-form{
  background-color: #FFF;
  margin-top:1.5em;
}
.login-logo{
  margin-top:1em;
}